<!DOCTYPE html>
<html lang="hr">
  <head>
    <meta charset="UTF-8" />
    <title>Statistika učenja</title>
    <link rel="stylesheet" href="/styles/graphs.css" />
  </head>
  <body>
    <h1>Statistika učenja</h1>

    <select id="timeframe">
      <option value="day">Dan</option>
      <option value="week">Tjedan</option>
      <option value="month">Mjesec</option>
    </select>

    <div id="graphContainer" data-user-id="<%= user ? user.id : '' %>">
      <div id="graph1">
        <div class="plot"></div>
      </div>

      <div id="graph2">
        <div class="plot"></div>
      </div>
    </div>

    <script src="https://cdn.plot.ly/plotly-2.30.0.min.js"></script>
    <script src="/scripts/graphs.js"></script>
  </body>
</html>
