<!DOCTYPE html>
<html lang="hr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>LearnFlow — Planer učenja</title>
  <link rel="stylesheet" href="/styles/logreg.css" />
</head>

<body>
  <div id="register-modal" class="modal">
    <div class="modal-content large">
      <a href="/">
        <span class="close">&times;</span>
      </a>
      <h2>Registracija</h2>
      <form action="/register" method="POST" class="form">
        <label for="name">Ime i prezime</label>
        <input type="text" id="name" name="name" required />

        <label for="email">Email adresa</label>
        <input type="email" id="email" name="email" required />

        <label for="password">Lozinka</label>
        <input type="password" id="password" name="password" required />

        <label for="confirm">Potvrdi lozinku</label>
        <input type="password" id="confirm" name="confirm" required />

        <button type="submit" class="btn btn-primary">Kreiraj račun</button>
        <p class="switch-text">
          Već imaš račun?
          <a href="/user/login" onclick="switchModal('register-modal','login-modal')">Prijavi se</a>
        </p>
      </form>
    </div>
  </div>

  <script type="text/javascript" src="/scripts/modal.js"></script>

</body>

</html>
